Repository HackYourFutureBelgium/Bridges-hackathon, pull requests merged in 2022-05, with the labels that each got.

#5 Adding readme and user persona
  group-3/README.md
  group-3/user-personas.md
Labels: readme, user-persona

#6 Adding planning md files
  group-3/backlog.md
  group-3/story-sequencing.md
Labels: user-persona, backlog, user stories

#8 correct readme
  group-3/README.md
  group-3/backlog.md
Labels: readme

#13 Group2
  assets/icone.png
  assets/nike.png
  assets/seeker.png
  assets/startup.png
  group-2/README.md
  group-2/backlog.md
  group-2/design.md
  group-2/user-personas.md
Labels: documentation, user-persona, backlog, user stories
